@import '../../commonStyles';



.product {
    width: 100%;
    border-bottom: 1px solid $tertiary;
    .product-wrapper{
        padding: 15px;
        display: flex;
        justify-content: space-between;
        cursor: pointer;
        &:hover {
            .left{
                .product-img{
                    &::after{
                        display: block;
                    }
                    .delete-icon{
                        display: block;
                    }
                }
            }
        }
        .left {
            display: flex;
            .product-img {
                width: 100px;
                height: 100px;
                padding: 15px;
                border-radius: 5px;
                overflow: hidden;
                position: relative;
                &::after{
                        position: absolute;
                        content: '';
                        width: 100%;
                        height: 100%;
                        top: 0;
                        left: 0;
                        background: rgba($color: #000000, $alpha: 0.5);
                        display: none;
                    }
                img{
                    width: 100%;
                    height: 100%;
                }
                .delete-icon{
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    transform: translate(-50%, -50%);
                    font-size: 1.5rem;
                    cursor: pointer;
                    z-index: 5;
                    color: $primary;
                    display: none;
                    &:active{
                        color: $tertiary;
                    }
                }
            }
            .product-details {
                display: flex;
                flex-direction: column;
                padding: 0 25px;
                
                .product-name {
                    padding-bottom: 10px;
                }
                .product-price {
                }
            }
        }
        .right {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            .total-price {
                
            }
            .quantity {

            }
        }
    }
}