@import '../../../commonStyles';


.nav-item {
    width: 100%;
    position: relative;
    padding: 15px 0;
    z-index: 1;
    &:hover {
        color: rgba($color: #000000, $alpha: 0.5);
        .hoverable-cat{
        display: block;
    }}
    &::after{
        position: absolute;
        content: '>';
        transform: rotate(90deg);
        margin-left: 5px;
        margin-top: 3px;
    }
    .hoverable-cat {
        position: absolute;
        width: 200px;
        background: $primary;
        padding: 10px 5px;
        border-top: 2px solid green;
        top: 100%;
        left: 0;
        display: none;
        z-index: 5;
        .item{
            padding: 5px 0;
            &:hover{
                color: rgba($color: #000000, $alpha: 1);
            }
        }
    }
}