@import '../commonStyles';


.header {
    width: 100%;
    height: 100%;
    z-index: 4;
    box-shadow: 2px 2px 5px rgba($color: $tertiary, $alpha: 1.0);
    .sticky-outer {
        width: 100%;
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid $tertiary;
        padding: 20px 0;
        @include container;

        .logo-wrapper{
            width: 100px;
            height: 100%;
           font-weight: 700;
           font-family: 'Courier New', Courier, monospace; 
           display: flex;
           align-items: center;
           img{
               width: 100%;
               max-height: 100%;
           }
        }

        .search-account-wrapper{
            display: flex;

            .search-box{
                position: relative;
                .icon{
                    position: absolute;
                    top: 50%;
                    left: 10px;
                    transform: translateY(-50%);
                    font-size: 1.2rem;
                    color: $tertiary;
                }
                .input-field{
                    width: 300px;
                    border: 1px solid rgba($color: $tertiary, $alpha: 0.6);
                    border-style: solid;
                    padding: 10px 30px;
                    border-radius: 0.5rem;
                    font-size: 1rem;
                    color: $tertiary;
                    background: $primary;
                    
                    &::placeholder{
                        color: $tertiary;
                    }
                    &:focus{
                        border: 1px solid $tertiary;
                    }
                }
                
            }
            .account{
                margin-left: 20px;
                display: flex;
                align-items: center;
                color: $tertiary;
                font-size: 2rem;
                cursor: pointer;
                &:hover {
                    color: rgba($color: $tertiary, $alpha: 0.5);
                }
            }
        }
        
    }
    .navigation-wrapper {
        @include container;
        display: flex;
        overflow-x: scroll;
        @media (min-width: 650px) {
            overflow: visible;
        }
        
    }
}