@import '../commonStyles';


.collections {
    @include container;
    padding-top: 50px;
    padding-bottom: 50px;
    background: $primary;
    .container{
        .collection-banner{
            max-height: 500px;
        }
        .products {
            margin-top: 50px;
            background: $primary;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 10px;
            @media (min-width:900px) {
                grid-template-columns: repeat(5, 1fr);
            }
        }
    }
}