@import '../commonStyles';


.home{
    width: 100%;
    @include container;
    padding-top: 3rem;
    margin-bottom: 3rem;
    background: $primary;
    .banner-wrapper {
        width: 100%;
        position: relative;
        border-radius: 5px;
        overflow: hidden;
        
        .banner{
            width: 100%;
            &::after{
                position: absolute;
                content: '';
                width: 100%;
                height: 100%;
                left: 0;
                top: 0;
                background: rgba($color: #000000, $alpha: 0.3);
            }
            img{
                width: 100%;
                background: cover;
            }
        }

        .title-container{
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            color: $primary;
            .title-wrapper{
                height: 100%;
                padding-left: 4rem;
                padding-top: 15rem;
                .title{ 
                    letter-spacing: 1px;
                }
                .subtitle{
                    margin: 25px 0;
                    letter-spacing: 1px;
                    font-weight: 500;
                    .subtitle-bold{
                        font-weight: 700;
                    }
                }
                .btn-order{
                    width: 150px;
                    margin-top: 5px;
                    padding: 15px 20px;
                    background: $primary;
                    border-radius: 10px;
                    color: rgb(92, 64, 64);
                    text-align: center;
                    font-weight: 700;
                    display: flex;
                    align-items: center;
                    cursor: pointer;
                    .link{
                        text-decoration: none;
                        color: inherit;
                    }
                }
            }
        }
    }
    .collections-container{
        width: 100%;
        display: grid;
        grid-template-columns: auto;
        gap: 15px;
        margin-top: 25px;
        @media screen {
            grid-template-columns: repeat(3, 1fr);
        }
    }
    .product-wrapper {
        margin-top: 50px;
        padding: 1rem;
        background: #ffffff;
        border-radius: 0.5rem;
        h1{
            padding: 10px 0;
            font-size: 1.5rem;
            color: $tertiary;
            letter-spacing: 1px;
        }
        .product-list {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 5px;
            @media (min-width: 900px) {
                grid-template-columns: repeat(5, 1fr);
            }
        }
    }
    
}