@import '../commonStyles';



.cart {
    position: fixed;
    width: 100vw;
    bottom: 10vh;
    z-index: 500;
    .short-cart {
        width: 80vw;
        margin: auto;
        bottom: 10vh;
        padding: 10px 15px;
        color: #ffffff;
        border-radius: 0.5rem;
        background-color: rgb(41, 41, 41);
        box-shadow: rgba(0, 0, 0, 0.12) 0px 6px 12px;
        cursor: pointer;
        left: auto;
        right: auto;
        transition: all 500ms ease-in-out;
        .short-cart-wrapper {
            display: flex;
            justify-content: space-between;
            .left {
                display: flex;
                .icon {
                    padding: 0 10px;
                }
                h5{
                    padding: 0 10px;
                }
            }
            .right {
                .amount {

                }
            }
        }
    }
    .cart-wrapper{
        height: 100vh;
        width: 100vw;
        margin-bottom: -10vh;
        background: #ffffff;
        transition: all 500ms ease-in-out;
        .cart-header {
            padding: 15px;
            width: 60%;
            margin: auto;
            display: flex;
            justify-content: space-between;
            h4{
                font-size: 1.5rem;
            }
            .cross{
                cursor: pointer;
                padding:5px;
            }
        }
        .total-amount-wrapper {
            width: 100%;
            background: #F7F7F7;
            box-shadow: 0 1px 2px #aaa8a8d2;
            .total-amount{
                padding: 15px;
                width: 60%;
                margin: auto;
            }
        }
        .products {
            width: 60%;
            height: 50vh;
            margin: auto;
            overflow-y: scroll;
        }
        .checkout{
            width: 60%;
            margin:10px auto;
            margin-top: 5rem;
            padding: 25px 0;
            background: #0a0a00;
            border-radius: 0.5rem;
            color: #dddddd;
            text-align: center;
            font-weight: 700;
        }
    }
}